.clgSrch{
    position:fixed;
    height:1vw;
    width:1vw;
    right:4vw;
    bottom:4vw;
    border:2.5vw solid transparent;
    border-top-color: /*#3C4883*/ rgb(255, 166, 0);
    border-bottom-color: /*#3C4883*/rgb(255, 166, 0);
    box-shadow: 0px 0px 50px 10px /*#0ff*/ rgb(0, 255, 0);
    border-radius: 50%;
    animation: clgName 3s ease-in-out infinite;
}

@keyframes clgName {
    to{
        transform: rotate(1.5turn);
    }
    0%{
        width:1vw;
        height:1vw;
    }
    50%{
        width:10vw;
        height:10vw;
    }
    100%{
        width:1vw;
        height:1vw;
    }
}